.body {
    background-color: hsl(30, 38%, 92%);
}

.card {
    display: flex;
    width: 400px;
    height: 300px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img {
    width: 200x;
}

img {
    width: 200px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.content {
        font-size: 14px;
        background-color: hsl(0, 0%, 100%);
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
}

.p {
    margin: 1rem;
    font-size: 9px;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    letter-spacing: 4px;
}

.g {
    margin: 1rem;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 23px;
    line-height: 23px;
    color: hsl(212, 21%, 14%);
}

.a {
    margin: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: hsl(228, 12%, 48%);
    line-height: 16px;
}

.price {
    margin: 1rem;
    display: flex;
}

.new-price {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 21px;
}

.old-price {
    font-size: 10px;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    margin: .5rem;
}

.add-to-cart {
    border: 2px solid hsl(158, 36%, 37%);
    background-color: hsl(158, 36%, 37%);
    border-radius: 5px;
    margin: 1rem;
    text-align: center;
    padding: 6px;
    color: hsl(0, 0%, 100%);
    font-size: 9px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.cart-icon {
    max-width: 9px;
    max-height: 9px;
    margin-right: 6px;
}

.attribution {
    font-size: 11px; 
    text-align: center;
    color: hsl(228, 45%, 44%);
    position: absolute;
    top:75%;
    left: 50%;
    transform: translate(-50%,-50%);
}