
body {
    background: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

header {
    background-image: url("background.jpg");
    background-size: cover;
    height: 937px;
}

.nav-bar {
    float: right;
    height: 80px;
    width: 300px;
} 

.nav-button {
    color:rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
}

.work {
    background: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
    height: 500px;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.work-type {
    background: #062F4F;
    margin: 0px;
    padding: 0px;
    border: 2px dotted rgb(31, 81, 255);
}

.work-item {
    float: left;
}

footer {
    background: rgb(210, 210, 210);
    margin: 0;
    padding: 0;
    height: 50px;
}

.profile-pic {
    float: left;
}