
 body {
    background: rgb(4, 149, 239);
    margin: 0;
    padding: 0;
}

header {
    background: rgb(19, 132, 202);
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 500px;
    border: 3px dotted #ff0400;
}

.code-image {
    max-width: 100%;
}

nav {
    background: rgb(14, 126, 196);
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 25px;
    position: fixed;
    width: 100%;
}

.nav_bar {
    background: rgb(14, 126, 196);
    height: 25px;
    line-height: 25px;
    text-align: center;
    float: right; 
    border: 3px dotted #ff0400;
}

.navbutton {
    
}

.intro {
    background: rgb(19, 132, 202);
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 400px;
    border: 3px dotted #f6ff00;
}

.work {
    background: rgb(19, 132, 202);
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 275px;
    border: 3px dotted #f6ff00;
}

.work-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    border: 3px dotted #00d0ff;
}

.work-type {
    border: 3px dotted #d900ff;
}

footer {
    background: rgb(135,121,78);
    margin: 0;
    padding: 0;
    height: 50px;
}
